<!-- views/partials/clouds.ejs -->
<div class="sky">
  <img class="cloud cloud-sun move-right" src="/images/cloud-sun.png" />
  <img class="cloud cloud-1 move-right" src="/images/cloud.png" />
  <img class="cloud cloud-2 move-right" src="/images/cloudy.png" />
  <img class="cloud cloud-3 move-left" src="/images/cloud.png" />
  <img class="cloud cloud-4 move-left" src="/images/cloudy.png" />
</div>
