<footer>
    <p>
        &copy; <span id="year"></span> Kenny Hector
    </p>
    <p>
        Icons by <a href="https://www.flaticon.com/free-icons/weather" title="weather icons">Freepik - Flaticon</a>
    </p>
</footer>

<script src="/scripts.js"></script>