<%- include("partials/head") %>

<body>
  <main>
    <h1>Enter a City to See the Weather Forecast</h1>

    <img class="cloud-sun" src="/images/cloud-sun.png" />
    <img class="cloud" src="/images/cloud.png" />
    <img class="cloudy" src="/images/cloudy.png" />


    <div class="form-container">
      <form action="/" method="post">
        <label for="cityInput">Type in your desired city:</label>
        <input 
          id="cityInput" 
          type="text" 
          name="cityName" 
          placeholder="City Name"
        />
        <button type="submit">Go</button>
      </form>
    </div>
  </main>

  <%- include("partials/footer") %>
</body>
</html>
