<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather App</title>
    <link rel="icon" href="/favicon.png" type="image/png">
    <link rel="stylesheet" href="styles.css">
</head>

<body>
    <h1>What's the weather like in ...</h1>

    <div class="form-container">
        <form action="/" method="post">
            <label for="cityInput">City Name: </label>
            <input id="cityInput" type="text" name="cityName">
            <button type="submit">Go</button>
        </form>
    </div>
    <%- include("partials/footer") %>

</body>

</html>