<%- include("partials/head") %>

    <body>
        <h1>What's the weather like in ...</h1>

        <div class="form-container">
            <form action="/" method="post">
                <label for="cityInput">City Name: </label>
                <input id="cityInput" type="text" name="cityName">
                <button type="submit">Go</button>
            </form>
        </div>
        <%- include("partials/footer") %>

    </body>

    </html>