* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #e3f2fd;
    text-align: center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.form-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

input,
button {
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
}

h1 {
    padding: 15px;
    font-size: 4.50rem;
    font-style: italic;
}

footer {
    margin-top: auto;
    padding: 15px;
    height: 60px;
    width: 100%;
    background: orange;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}